:root {
  --container-width-lg: 1200px;
  --container-width-md: 1050px;

  /* spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 56px;
  --spacing-11: 64px;
  --spacing-12: 72px;
  --spacing-13: 80px;
  --spacing-14: 88px;
  --spacing-15: 96px;
  --spacing-16: 104px;
  --spacing-17: 112px;
  --spacing-18: 120px;
  --spacing-19: 128px;
  --spacing-20: 136px;
  --spacing-21: 144px;

  --section-padding-top: 144px;
  --min-padding-x: 6%;

  /* font size */
  --text-tiny: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-regular: 1.125rem; /* 16px */
  --text-md-sm: 1.125rem; /* 18px */
  --text-md: 1.25rem /* 20px */;
  --text-lg: 1.5rem /* 24px */;
  --heading-1: clamp(56px, 4vw + 1rem, 56px);
  --heading-2: clamp(36px, 3.6vw + 0.9rem, 48px);
  --heading-3: clamp(32px, 3.2vw + 0.8rem, 40px);
  --heading-4: clamp(24px, 2.4vw + 0.6rem, 32px);
  --heading-5: clamp(20px, 2vw + 0.5rem, 24px);
  --heading-6: clamp(18px, 1.8vw + 0.45rem, 20px);

  /* line height  */
  --display-line-height: 125%;
  --heading-line-height: 120%;
  --body-line-height: 160%;
  --label-line-height: 141%;

  /* letter spacing  */
  --display-letter-spacing: calc(-2.5 / 100 * 1em);
  --heading-letter-spacing: calc(-2 / 100 * 1em);
  --body-letter-spacing: calc(0 / 100 * 1em);
  --label-letter-spacing: calc(0 / 100 * 1em);

  /* colors */
  --primary-color: #5f6f52;
  --secondary-color: #a9b388;

  --text-color: #565360;
  /* --text-color-secondary: #2c2c2c; */
  --title-color: #2c2c2c;
  --bg-text: #ffffff;
  --sub-text-color: #696969;
  --label-text-color: #585858;
  --background: #fff;

  --bg-secondary: #f5f5f5;

  --border-color: #cccccc;
  --border-color-secondary: #e7e7e7;

  /* clamp */
  --large-clamp-padding: clamp(120px, 10.6666666667vw, 144px);
  --regular-clamp-padding: clamp(80px, 10.6666666667vw, 81.92px);
  --md-clamp-padding: clamp(1px, 10.6666666667vw, 64px);

}

/* Update font sizes for tablet */
@media (min-width: 768px) {
  :root {
    --heading-1: clamp(52px, 5vw + 1rem, 72px);
    --heading-2: clamp(44px, 4.4vw + 0.9rem, 48px);
    --heading-3: clamp(36px, 3.6vw + 0.8rem, 40px);
    --heading-4: clamp(28px, 2.8vw + 0.6rem, 32px);
    --heading-5: clamp(24px, 2.4vw + 0.5rem, 24px);
    --heading-6: clamp(20px, 2vw + 0.45rem, 20px);
  }
}

/* Update font sizes for desktop */
@media (min-width: 1024px) {
  :root {
    --heading-1: clamp(64px, 5.6vw + 1rem, 72px);
    --heading-2: clamp(48px, 4.8vw + 0.9rem, 48px);
    --heading-3: clamp(40px, 4vw + 0.8rem, 40px);
    --heading-4: clamp(32px, 3.2vw + 0.6rem, 32px);
    --heading-5: clamp(24px, 2.4vw + 0.5rem, 24px);
    --heading-6: clamp(20px, 2vw + 0.45rem, 20px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* border: 1px solid red; */
}

html,
body {
  color: var(--text-color);
  /* background-image: linear-gradient(
    310deg,
    hsl(28deg 100% 86%) 0%,
    hsl(18deg 100% 86%) 12%,
    hsl(8deg 100% 86%) 28%,
    hsl(357deg 100% 85%) 44%,
    hsl(347deg 100% 85%) 58%,
    hsl(336deg 100% 85%) 70%,
    hsl(326deg 100% 85%) 80%,
    hsl(316deg 100% 84%) 88%,
    hsl(305deg 100% 84%) 94%,
    hsl(295deg 100% 84%) 100%
  ); */




/* background-color:hsla(28,100%,74%,1);
background-image:
radial-gradient(at 3% 3%, hsla(293,100%,83%,1) 0px, transparent 50%),
radial-gradient(at 25% 76%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 88% 29%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 84% 80%, hsla(0,64%,80%,1) 0px, transparent 50%),
radial-gradient(at 18% 22%, hsla(303,61%,76%,1) 0px, transparent 50%); */


  /* background-size: 300% 300%; */
  /* padding-inline: 4%; */
}

html, body {
  font-size: var(--text-regular);
  height: 100%;
}

.bg-1 {
  background-color:hsla(28,100%,86%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
  radial-gradient(at 80% 50%, hsla(294,100%,83%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(294,100%,83%,1) 0px, transparent 50%);
}

.bg-2 {
  background-color:#e799ff;
  background-image:
  radial-gradient(at 86% 76%, hsla(233,98%,65%,1) 0px, transparent 50%),
  radial-gradient(at 27% 5%, hsla(192,89%,68%,1) 0px, transparent 50%),
  radial-gradient(at 54% 57%, hsla(59,76%,72%,1) 0px, transparent 50%),
  radial-gradient(at 98% 72%, hsla(187,72%,79%,1) 0px, transparent 50%),
  radial-gradient(at 10% 17%, hsla(310,73%,61%,1) 0px, transparent 50%),
  radial-gradient(at 53% 61%, hsla(62,93%,69%,1) 0px, transparent 50%),
  radial-gradient(at 17% 68%, hsla(252,94%,68%,1) 0px, transparent 50%);
}

h1 {
  font-size: var(--heading-1);
  line-height: var(--display-line-height);
  letter-spacing: var(--display-letter-spacing);
}

h2 {
  font-size: var(--heading-2);
}


h3 {
  font-size: var(--heading-3);
}

h4 {
  font-size: var(--heading-4);
}

h5 {
  font-size: var(--heading-5);
}

h6 {
  font-size: var(--heading-6);
}

.display-5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: var(--spacing-4);
}

.display-5-sm {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: var(--spacing-3);
}

.display-6 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: var(--spacing-4);
}

.display-6-sm {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: var(--spacing-3);
}

.text-md-sm {
  font-size: var(--text-md-sm);
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

h2,
h3,
h4,
h5,
h6 {
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

p {
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.gradient-background {
  min-height: 100%;
  background: linear-gradient(0deg, #FFDAB9, #FBC1DF, #F8ACFF);
  background-size: 300% 300%;
  animation: moveGradient 15s ease infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.card-container {
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 6%;
}

.thank-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-bottom: 7.85rem;
  text-align: center;
  /* margin-bottom: 300px; */
}

.letter-container {
  padding-bottom: 300px;

  /* height: 300px; */
  /* display: grid; */
  /* place-items: center; */
  z-index: 3;
  /* margin-top: 500px; */
}

.envelope-wrapper {
  background: #ffff85;
}

.envelope {
  position: relative;
  width: 300px;
  height: 230px;

  /* background: #eaeaa3; */
  /* background: white; */

}

.envelope::before,
.envelope::before {
  content: "";
  position: absolute;
  z-index: 3;
  border-top: 130px solid rgb(241, 241, 201);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  top: 0;
  transform-origin: top;
  transition: 0.5s;
}

.envelope::before :has(.chris) {
  border-top: 130px solid rgb(217, 112, 255);
}


.envelope::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 5;
  border-top: 130px solid transparent;
  border-left: 150px solid beige;
  border-right: 150px solid beige;
  border-bottom: 100px solid beige;

  bottom: 0;
  transform-origin: bottom;
  transition: 0.5s;
}

.letter {
  position: absolute;
  border-radius: 20px;
  right: 20%;
  /* margin-inline: 10px; */
  bottom: 0;
  width: 54%;
  height: 80%;
  background: white;
  transition: all 3s ease-in-out;
  padding: 1.5em 3em;
  transform-origin: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;

}

.letter.letter-expanded {
  
  /* transform-origin: 50% 50%; */
  position: initial;
  margin-inline: auto;

  /* right: initial;
  bottom: initial;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* right: 0; */
  height: fit-content;
  width: 100%;
  /* max-width: 800px; */
  overflow: visible;
  transition: all 1s ease-in-out;
}

.envelope.letter-expanded {
  width: auto;;
}


.text {
  text-align: left;
}

/* .envelope::before {
  z-index: 0;
  transform: rotateX(180deg);
}

.letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
  overflow: hidden;
} */


.error-container {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}